<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
   <ul>
        <li><a href="./home">home</a></li>
        <li><a href="./about">about</a></li>
        <li><a href="./404">404 page</a></li>
    </ul>
    <h1>Welcome to the About Page</h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea error, neque voluptatum quia at ipsa veniam quo nobis harum qui ipsum eveniet cumque illo dolor voluptates optio nulla dignissimos omnis?</p>
</body>
</html>